IMPORTING THE REQUIRED LIBRARIES

In [21]:
import pandas as pd
from pymongo import MongoClient
import matplotlib.pyplot as plt

Retrieving data from Mongodb Atlas -Cluster

In [39]:
url = "mongodb+srv://jesikutty1511:Jesi%401206@abnb.b7lui4n.mongodb.net/?retryWrites=true&w=majority"

In [23]:
client = MongoClient(url)
db = client.sample_airbnb
coll = db.listingsAndReviews

airbnb_data = []
cursor = coll.find()
for doc in cursor:
    data = dict(
                Name= doc['name'],
                Property_type = doc['property_type'],
                Country = doc['address']['country'],
                code = doc['address']['country_code'],
                latitude = doc['address']['location']['coordinates'][1],
                longitude = doc['address']['location']['coordinates'][0],
                neighbourhood = doc['address']['suburb'],
                Accomadates = doc['accommodates'],
                Price = doc['price'],
                guests_included = doc['guests_included'],
                Extra_people = doc['extra_people'],
                min_nights = doc['minimum_nights'],
                max_nights = doc['maximum_nights'],
                Cancellation_policy = doc['cancellation_policy'],
                amenities = doc['amenities'],
                availability_365 = doc['availability']['availability_365'],
                bedrooms = doc.get('bedrooms'),
                beds = doc.get('beds'),
                room_type = doc['room_type'],
                last_review = doc.get('last_review'),
                Reviews_count = doc['number_of_reviews'],
                review_score = doc['review_scores'].get('review_scores_rating'),
                host_listings = doc['host']['host_listings_count'],
                host_name = doc['host']['host_name'],
                host_id =doc['host']['host_id'],
                verified_host = doc['host']['host_identity_verified']
                )
    airbnb_data.append(data)

Creating dataframe with required columns

In [24]:
df1 = pd.DataFrame(airbnb_data)
df1.head()

,Name,Property_type,Country,code,latitude,longitude,neighbourhood,Accomadates,Price,guests_included,...,bedrooms,beds,room_type,last_review,Reviews_count,review_score,host_listings,host_name,host_id,verified_host
0,Ribeira Charming Duplex,House,Portugal,PT,41.141300,-8.613080,,8,80.00,6,...,3.0,5.0,Entire home/apt,2019-01-20 05:00:00,51,89.0,3,Ana&Gonçalo,51399391,True
1,Horto flat with small garden,Apartment,Brazil,BR,-22.966254,-43.230750,Jardim Botânico,4,317.00,1,...,1.0,2.0,Entire home/apt,NaT,0,NaN,1,Ynaie,1282196,False
2,Ocean View Waikiki Marina w/prkg,Condominium,United States,US,21.286340,-157.839190,Oʻahu,2,115.00,1,...,1.0,1.0,Entire home/apt,2019-02-07 05:00:00,96,84.0,18,David,5448114,False
3,Private Room in Bushwick,Apartment,United States,US,40.697910,-73.936150,Brooklyn,1,40.00,1,...,1.0,1.0,Private room,2016-01-31 05:00:00,1,100.0,1,Josh,11275734,True
4,Apt Linda Vista Lagoa - Rio,Apartment,Brazil,BR,-22.971951,-43.205047,Lagoa,2,701.00,1,...,1.0,1.0,Private room,NaT,0,NaN,1,Livia,51496939,False

# Data cleaning

In [25]:
df1.shape

(2000, 26)

In [40]:
df1.isna().sum()

Name                   0
Property_type          0
Country                0
code                   0
latitude               0
longitude              0
neighbourhood          0
Accomadates            0
Price                  0
guests_included        0
Extra_people           0
min_nights             0
max_nights             0
Cancellation_policy    0
amenities              0
availability_365       0
bedrooms               0
beds                   0
room_type              0
last_review            0
Reviews_count          0
review_score           0
host_listings          0
host_name              0
host_id                0
verified_host          0
dtype: int64

In [27]:
df1.dropna(inplace=True)

In [28]:
df1.shape

(1598, 26)

Type casting

In [34]:
def dtype(column):
    df1[column]= df1[column].astype(str).astype(float)
    
dtype('Price')
dtype('guests_included')
dtype('Extra_people')

In [35]:
def in_type(column):
    df1[column]= df1[column].astype(str).astype(int)
in_type('max_nights')
in_type('min_nights')

In [36]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1598 entries, 0 to 1999
Data columns (total 26 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Name                 1598 non-null   object
 1   Property_type        1598 non-null   object
 2   Country              1598 non-null   object
 3   code                 1598 non-null   object
 4   latitude             1598 non-null   float64
 5   longitude            1598 non-null   float64
 6   neighbourhood        1598 non-null   object
 7   Accomadates          1598 non-null   int64
 8   Price                1598 non-null   float64
 9   guests_included      1598 non-null   float64
 10  Extra_people         1598 non-null   float64
 11  min_nights           1598 non-null   int32
 12  max_nights           1598 non-null   int32
 13  Cancellation_policy  1598 non-null   object
 14  amenities            1598 non-null   object
 15  availability_365     1598 non-null   int64
 16  bedrooms             1598 non-null   float64
 17  beds                 1598 non-null   float64
 18  room_type            1598 non-null   object
 19  last_review          1598 non-null   datetime64[ns]
 20  Reviews_count        1598 non-null   int64
 21  review_score         1598 non-null   float64
 22  host_listings        1598 non-null   int64
 23  host_name            1598 non-null   object
 24  host_id              1598 non-null   object
 25  verified_host        1598 non-null   bool
dtypes: bool(1), datetime64[ns](1), float64(8), int32(2), int64(4), object(10)
memory usage: 313.7+ KB

Processing data according to geojson file

In [37]:
df1['Country'] = df1['Country'].replace(['United States'],'United States of America')
df1['code'] = df1['code'].replace(['BR'],'BRA')
df1['code'] = df1['code'].replace(['PT'],'PRT')
df1['code'] = df1['code'].replace(['TR'],'TUR')
df1['code'] = df1['code'].replace(['US'],'USA')
df1['code'] = df1['code'].replace(['HK'],'CHN')
df1['code'] = df1['code'].replace(['ES'],'ESP')
df1['code'] = df1['code'].replace(['AU'],'AUS')
df1['code'] = df1['code'].replace(['BR'],'BRA')
df1['code'] = df1['code'].replace(['CN'],'CHN')

In [41]:
df1.to_csv("JesiAirBNB.csv")